.pagination {
    width:100%;
}
#my__list {

    display: flex;
    flex-wrap: wrap;

}
  
  
  .pagination button {
    width:50px;
    height:50px;
    background-color: transparent;
    color: white;
    cursor: pointer;

    
  }
  
  .page__item {
    border: none;
  }
  
  .active {
    border: 3px solid #FEBD2E;
  
  }