body {
    color: #E5E7EB;;
    height:100vh;
}

.container {
    width:1280px;
     white-space: pre-line;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */ 
}



nav {
    width:100%;
    display: flex;
    justify-content: space-between;
    padding:1rem;
    margin-bottom: 20px;
   
 
}

.return__btn {
    border-radius: 25px;
    color:#394150;
    background-color: 
    #E5E7EB;
    border: none;
    padding:15px 30px;
    font-weight: 550;
    font-size: 1rem;
    background-image: url(/src/images/Expand_left.svg);
    background-repeat: no-repeat;
    background-position: 5% 50%;;
    cursor: pointer;
}

.content {

width:500px;
margin:0 auto;
 
}

.content img {
  
    width:100%;
    height:350px;
    border-radius: 20px;;
    
}



.recipe__title {
    font-size: 3rem;
    padding:0px;
    margin-left:0px;

 
    
}

.span__container {
    margin-bottom: 40px;;
}


.type {
    background-color: #394150;
    padding:10px 30px;
    border-radius: 25px;
    margin-right: 10px;
    margin-bottom: 20px;;
}



.ingredients {
    margin-top: 20px;;
    font-weight: bold;
    font-size:1.2rem;
    margin-bottom: 20px;;
    

   
   
}

.ingredient__list {

    list-style-type:disc;
    margin-bottom: 40px;;

}

#yellow {
    padding: 10px 5px;
    background-color: #FEBD2E;
    color:#FEBD2E;
    border-radius: 25px;;
    margin-right: 20px;;
}
#blue {
    padding: 10px 5px;
    background-color: #4E80EE;
    color:#4E80EE;
    border-radius: 25px;;
    margin-right: 20px;;
   
}

.instructions {
    line-height: 30px;
    margin-bottom: 40px;;
  
}

@media (max-width:700px) {
  .content {
    width:400px;
  }

  .ingredient__list {
    display: block;
    line-height: 2.5rem;
  }
}
