.sidebar {
    margin-right:15px;
    width:100%;
   
}

h1 {
    margin-left: 40px;;
    color:#E5E7EB;
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 40px;;
}

ul {
    margin-left: 20px;;
    display: flex;;
    flex-direction: column;
    gap: 10px;;
    list-style-type: none;
    
    
}


ul button {
    
    border-radius: 10px;;
    border: 1px solid #394150;
    width:85%;
    padding:20px;
    cursor: pointer;
    color:white;
    position: relative;
    overflow: hidden;
}

ul img {
    position: absolute;
    width:60px;
    height:60px;
    left:-5%;
    top:-6%;
    
    
}







@media (max-width:600px) {
    /* .sidebar {
        width:100vw;
    } */

    h1 {
        
        margin-left: 10px;
    }
    

    ul {


       flex-direction: row;
       justify-content: center;
       flex-wrap: wrap;
       
    }
    
    
    ul button{
        width:240px;
    }
}