select {

    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: ''; 
    height:50px;
    border: none;
    width:160px;
    border-radius: 25px;
    background-color: #E5E7EB;
    color: #0E1325;
    padding-left: 20px;
    font-size: 1rem;
    background-image: url(/src/images/Expand_down.svg);
    background-repeat: no-repeat;
    background-position: 90% 50%;;
    margin-right:20px;
  
  }

  @media (max-width: 640px) {

  
    select {
      margin-top: 20px;
        width:40%;
      }
  } 

  @media (max-width:450px) {
    select {
      
        width:40%;
        
      }
  } 